body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
}

#titulo {
    background-color: blue;
}

#cabecera {
    background-color: aquamarine;
    font-family: monospace;
}